body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;

}
th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f1f3f5;
}
th i{color:  #556068; opacity: 0.4;}
th i:last-child{
  transform: translateX(-14px);
}
.status {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
}
.status.rejected {
  background-color: #ffebee;
  color: #d32f2f;
}
.status.verified {
  background-color: #e8f5e9;
  color: #388e3c;
}
.status.pending {
  background-color: #fff3e0;
  color: #f57c00;
}
.actions i {
  cursor: pointer;
  margin-right: 10px;
  color: #5f6368;
}
.actions i:hover {
  color: #000;
}

dialog {
  border: 0;
  box-shadow: 20px 20px 60px #b3b3b3, -20px -20px 60px #ffffff;
  color: #4d4d4d;
  border-radius: 20px;
  background-color: #f0fbff;
}
.btn-dark .cut {
  background-color: #575757;
}
dialog::backdrop{
  background-color: #0000001c;
}

.form {
  box-sizing: border-box;
  padding: 20px;
  width: 320px;
}

.form-title {
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}
.form i{
  position: absolute;
  top: 20px;
  right: 20px;
}
.form-subtitle {
  color: #0088dd;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.form-input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.form-input {
  background-color: #e8eaff;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #4d4d4d;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #f0fbff;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.form-input:focus ~ .cut,
.form-input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.form-placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.form-input:focus ~ .form-placeholder,
.form-input:not(:placeholder-shown) ~ .form-placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.form-input:not(:placeholder-shown) ~ .form-placeholder {
  color: #808097;
}

.form-input:focus ~ .form-placeholder {
  color: #0088dd;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

.faq-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.151);
  position: relative;
}
.tooltip {
  position: absolute;
  top: 0px;
  width: 220px;
  height: 240px;
  right: 45px;
  z-index: 1;
  background-color: #ffffff;

  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
  box-shadow: 20px 20px 60px #b3b3b3, -20px -20px 60px #ffffff;
  letter-spacing: 0.5px;
}
.tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #f0f0f0;
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  bottom: -15%;
  transition-duration: 0.3s;
}
.tooltip span{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block{
  display: block;
}
tbody h4[aria-valuetext="rejected"],tbody p[aria-valuetext="rejected"]{
  background-color:#d32f2f;
  color: #fff;
}
tbody h4[aria-valuetext="pending"],tbody p[aria-valuetext="pending"]{
  background-color: rgb(118 137 255);
  color: #e8e8e8;
}
tbody h4[aria-valuetext="verified"],tbody p[aria-valuetext="verified"]{
  background-color: #5c8275;
  color: #e8e8e8;
}
.sort{
  opacity: 1;
}